.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form > label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form > label > input {
    width: 500px;
    padding: 5px;
}

.heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-tasks {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: break-word;

}

.education--button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 3px #b9b7b7;
    background-color: #dd6161;
}

.education--button:hover {
    background-color: #c92222;
}