.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form > label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form > label > input,
.form > label > textarea {
    width: 500px;
    padding: 5px;
}

.experience--button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 3px #b9b7b7;
    background-color: #dd6161;
}

.experience--button:hover {
    background-color: #c80b0b;
}